.amdin_sidebar {
  background-color: $white-color;

  @media (min-width: 768px) {
    min-height: calc(100vh - 139.5px);
    max-width: 250px;
    width: 250px;
  }

  .sidebar {
    .sidebar_menu {
      .sidebar_menu_list {
        list-style: none;
        padding: 0px;
        .menu_item {
          padding: 0.5rem 0.5rem 0.5rem 0.5rem;
          i {
            font-size: 1.125rem;
          }
          border-radius: 5px;
          &:hover {
            background-color: rgba($color: $green-color, $alpha: 0.1);
            .menu_item_title {
              color: $red-color;
              font-weight: 600;
            }
          }
          .menu_item_title {
            color: $black-gray;
            font-weight: 500;
            text-decoration: none;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
          &.active {
            background-color: $yelow-color;
            .menu_item_title {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
