.admin_page {
  height: 100%;

  @media (min-width: 768px) {
    min-height: calc(100vh - 142.5px);
    max-height: calc(100vh - 142.5px);
  }
  .body_content {
    max-height: 100%;
    overflow: auto;
    background-color: $white-color;
    padding: 0rem 1rem;
    .table_header_content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      border-bottom: 1px solid $black-gray;
      .table_header_left_content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .left_content_title {
          font-weight: 600;
        }

        .search_icon_button {
          font-size: 1.2rem;
        }

        .add_button {
          a {
            background-color: $black-gray;
            text-decoration: none;
            color: $white-color;
            font-size: 1rem;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 3px;
          }
        }
      }

      .table_header_right_content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  .manga_table {
    .manga_table_head {
      border-bottom: 2px solid $black-gray;
      tr {
        padding: 10px 0px;
      }
    }
    .manga_table_body {
      .cover {
        width: 70px;
        height: 70px;
        object-fit: scale-down;
      }
      .title {
        font-weight: 500;
      }
      .edit {
        .icon_button {
          width: 40px;
          height: 40px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
