/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-family: $title-font;
}

p {
  color: #3d3d3d;
  margin: 0 0 15px 0;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: white;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 30px;
  margin-top: 30px;

  a, h4, h5 {
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      top: -6px;
      height: 32px;
      width: 4px;
      background: $primary-color;
      content: "";
    }
  }
}

//Css for icon button
.icon_button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.delete_button {
  color: $red-color;
}

.edit_button {
  color: $yelow-color;
}

.save_button {
  color: $green-color;
}
