.category_mangage_page {
  .categories_table {
    .categories_table_body {
      .category_input_field {
        text-align: center;
        color: $black-color;
        &:disabled {
          border: 0;
          background-color: transparent;
        }
      }

      .icon_button {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
      }
    }
  }
}
