@import "variables";

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section_title {
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  color: $black-color;
  padding-left: 20px;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110%;
    width: 4px;
    color: $black-color;
    background-color: $primary-color;
  }

  a {
    color: $black-color;
    text-decoration: none;
  }
}

.manga_catetegory {
  background-color: $white-color;
  .category_item {
    padding: 0 12px;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    .section_link {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1rem;
      color: $black-color;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        color: $black-color;
        text-decoration: none;
        margin-right: 0.5rem;
      }
    }

    .section_sort {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-content: center;

      .section_sort_title {
        font-size: 1rem;
        font-weight: 700;
        color: $black-color;
      }
      .section_sort_form {
        margin: auto 5px;
        .section_sort_select {
          width: auto;
          margin: auto 5px;
          padding: 0 0px;
          font-family: $regular-font, "FontAwesome";
        }
      }
    }
  }

  h4,
  h5 {
    width: auto;
  }
}

.text {
  position: absolute;
  padding: 2px 10px;
  font-size: 13px;
  border-radius: 4px;
}

.manga_item {
  animation: fadeIn 0.5s ease-out;
  transform-origin: center top;
  .manga_item_cover {
    // height: 325px;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-top: 141.42%;
    }

    .ep {
      top: 10px;
      left: 10px;
      background-color: $primary-color;
      color: $white-color;
    }

    .view {
      bottom: 10px;
      right: 10px;
      background-color: $black-gray;
      color: $white-color;
    }

    .comment {
      bottom: 10px;
      left: 10px;
      background-color: $black-gray;
      color: $white-color;
    }

    &:hover {
      .manga_item_info {
        opacity: 1;
        height: 100%;
      }
    }

    .manga_item_info {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      height: 50%;
      transform-origin: bottom;
      opacity: 0;
      background-color: $white-color;
      overflow: hidden;
      padding: 10px;
      transition: all ease-out 0.2s;

      .manga_title {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 1.2rem;
        line-height: 1.3rem;
        color: $black-color;
        margin: 0px 0px 5px;
        text-decoration: none;
      }
      .manga_categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px;
        margin: 10px 0px 15px;
        .manga_category_item {
          background-color: $red-color;
          border-radius: 5px;
          padding: 3px 5px 2px;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: none;
          color: $white-color;
          max-width: 100%;
        }
      }

      .manga_description {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;

        font-size: 14px;
      }
    }
  }

  .manga_item_text {
    .name {
      a {
        display: inline-block;
        text-decoration: none;
        color: $black-color;
        font-size: 1.1rem;
        line-height: 1.2rem;
        font-weight: 700;
        text-align: start;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  70% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
