.manga_reading {
	background: $k-background;

    .manga_chapter {
        background: #fff;
        .chapter_control {
            .dropdown-item.active {
                background-color: $k-primary-color;
            }
        }
    }
    
    .height-fix li a {
        height: 30px;
    }

    .manga_details_other {
        background: #fff;
    }
}