/*---------------------
  Manga Details
-----------------------*/
$background-shadow: $k-background;//#f4f4f4;
/*.anime_details_pic {
	img {
		position: relative;
		overflow: hidden;
	}
}*/
.manga_details {
	background: $k-background;

	.manga_chapter {
		background: #fff;
	}
}

.manga_details_content {
	background: #fff;
}

.manga_details_rating {
	.rating {
		i {
			font-size: 21px;
			color: #e89f12;
			display: inline-block;
		}
	}

	span {
		display: block;
		font-size: 18px;
	}
}

.manga_details_btn a {
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: 4px;
}

.manga_review {
	background: #fff;
	
	.review-item {
		overflow: hidden;
		
		.avatar {
			float: left;
			position: relative;

			&:before {
				position: absolute;
				right: -32px;
				top: 15px;
				border-top: 15px solid transparent;
				border-left: 15px solid $background-shadow;
				content: "";
				transform: rotate(45deg);
			}
			
			img {
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
		}

		.comment {
			overflow: hidden;
			background: $background-shadow;
			border-radius: 10px;

			h6 {
				color: black;
				margin-bottom: 10px;
		
				span {
					color: gray;
				}
			}

			p {
				color: gray;
			}
		}
	}
}

.manga_comment {
	background: #fff;
	form {
		textarea {
			background-color: $background-shadow;
			height: 100px;
			border: none;
			border-radius: 5px;
			resize: none;
		}

		button {
			color:white;
			letter-spacing: 2px;
		}
	}
}

.manga_details_other {
	background: #fff;
}