.manga_reading {
	background: $background;

    .manga_chapter {
        background: #fff;
        .chapter_control {
            .dropdown-item.active {
                background-color: $primary-color;
            }
        }

        /* .chapter_content {
            img {
                width: 70%;
                height: auto;
            }
        } */
    }
        
    .manga_details_other {
        background: #fff;
    }

    .height-fix li a {
        height: 35px;
    }
}