@import "variables";

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.manga_sidebar_newcomment {
  // background-color: $n-background-panel;
  padding: 10px 5px 5px 5px;
  border-radius: 0.5rem;
}
.manga_sidebar_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 1rem;

  h4 {
    font-size: 1.3rem;
    margin: 0;
  }

  .manga_sidebar_option {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0;

    .sidebar_option_item {
      list-style: none;
      margin: 0 3px;
      cursor: pointer;
      //color: $n-text-color;
      font-size: 14px;
      font-weight: 500;
    }

    .active {
      //color: $n-text-color;
      font-weight: 900;
    }
  }
}

.manga_topviews_item {
  margin-bottom: 2rem;
  position: relative;
  animation: fadeIn 0.5s ease-out;
  transform-origin: center top;
  .manga_topviews_item_cover {
    height: 190px;
    position: relative;
    border-radius: 5px;
  }

  .ep {
    top: 10px;
    left: 10px;
    //background-color: $n-ep-background;
    //color: $n-text-white-color;
  }

  .view {
    top: 10px;
    right: 10px;
    //background-color: $bg-text-cover-2;
    //color: $n-text-white-color;
  }

  .name {
    position: absolute;
    bottom: 5px;
    left: 10px;

    a {
      //color: $n-text-color;
      font-weight: 700;
      line-height: 1.3rem;
      text-decoration: none;
      text-align: start;
      font-size: 18px;
      //font-family: $fm-nunito;
      // text-shadow: 0px 0px 5px $n-text-white-color;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  70% {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.manga_newcomment_item {
  position: relative;
  margin-bottom: 1rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  animation: fadeIn 0.5s ease-out;
  transform-origin: center top;
  // background-color: $n-background;
  .manga_newcomment_item_cover {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 10px;
    flex: 1;
    animation: animate__zoomIn;
    &:after {
      content: "";
      display: block;
      padding-top: 141.42%;
    }
  }
  .manga_newcomment_item_text {
    flex: 3;
    margin-top: 10px;
    a {
      text-decoration: none;
      .name {
        // color: $n-text-color;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .views {
      //color: $n-text-color;
      font-size: 14px;
    }
  }
}
