$primary-color: #ffc403;
$primary-color-hover: #ffd420;
$background: #f2f5f7;
$black-gray: #343a40;
$white-color: #fff;
$black-color: #000;
$red-color: #cf3030;
$yelow-color: #e88a1a;
$green-color: #116530;
