$desktop: "only screen and (min-width: 1400px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";

$primary-color: #e53637;
$secondary-color: #0c2b4b;

$heading-color: #111111;
$para-color: #5c5c5c;
$black-color: #000000;
$heading-color-2: #323232;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;
$border: #ebebeb;
$border-1: #e1e1e1;
$bg-text-cover-1: #e53637;
$bg-text-cover-2: #3d3d3d;
$bg-page: #fff;
$fm-unna: "Unna", serif;
$fm-nunito: "Nunito Sans", sans-serif;
$breadcrumb-divider: quote(">");

$k-primary-color: #ffc403;
$k-primary-color-hover: #ffd420;
$k-background: #f2f5f7;
$k-black-gray: #343a40;

$n-background: #d9d9d9;
$n-ep-background: #e53637;
$n-text-color: #141414;
$n-background-panel: #f2f5f7;
$n-text-white-color: #ffffff;
$white-color: #ffffff;
$n-yelow-color: #e88a1a;
$n-red-color: #e53637;
$n-white-color: #ffffff;
$n-black-color: #141414;
