@import "variables";
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.menu-bar {
  background-image: linear-gradient(-70deg, $primary-color, #FF8243);
  .navbar-toggler {
    padding-right: 20px;
    outline: none !important;
    border: none !important;
  }
  .form-control {
    width: 250px;
    margin: auto;
    margin-top: 5px;
  }

  .navbar-brand {
    font-family: "Pacifico", cursive;
    font-size: 35px;
    margin-left: 20px;
  }
  .nav-link {
    font-family: $title-font;
    font-size: 16px;
    margin:5px;
    color: $white-color !important;
    &:hover {
      font-weight: 600;
      border-bottom: 1px solid #ffffff;
    }
  }
  .navbar-nav {
    text-align: center;
    margin-right: 10px;
  }
  .navbar .fa {
    background-color: None !important;
    //color: $para-color;
    font-size: 15px;
    margin: -5px;
  }
  .collapse {
    .navbar-nav{
    margin: 5px 400px 5px, 400px;
    }
  }
  
  .input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  .btn-light {
    background-color: None !important;
    margin: 5px 5px 5px 0px;
  }
  .btn-secondary {
    color: $black-color;
    font-family: "Poppins";
    font-size: 16px;
    margin: 6px 15px 0px 5px;
    background-color: #FF8243;
    border: None;
  }
  .btn-outline-light {
    border-color: #FF8243;
    font-family: "Poppins";
    font-size: 16px;
    margin: 6px 5px 0px 2px;
  }
  #userDropdown {
    margin: 6px 15px 0px 5px;
  }
}
.header .dropdown-menu {
  background-color:#ffffff;
  a{
    color: #000000 !important;
  }
}