@import "variables";
@import "base";

@import "home";
@import "manga-panel";
@import "sidebar";
@import "categories";
@import "manga-details";
@import "manga-reading";
@import "navbar";
@import "admin";
@import "insert_manga";
@import "admin-sidebar";
@import "category-manage";

html,
body {
  height: 100%;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: $background;
}
