@import "variables";
@import "base";

@import "home";
@import "manga-panel";
@import "sidebar";
@import "categories";
@import "manga-details";
@import "manga-reading";
@import "profile";
@import "_storage";
@import "navbar";
@import "admin";
@import "insert_manga";
@import "admin-sidebar";
@import "category-manage";
@import "breadcrumb";
@import "all-category";
@import "paginations";
@import "toast";

html,
body {
  height: 100%;
  font-family: $regular-font;
  -webkit-font-smoothing: antialiased;
  background: $background;
}
