<div class="left_sidebar">
    <nav class="sidebar">
        <div class="sidebar_profile">
            <div class="avatar">
                <img src="https://e7.pngegg.com/pngimages/931/256/png-clipart-bitstrips-avatar-emoji-graphy-emoticon-avatar-face-heroes.png" alt="">
            </div>
            <h6 class="name">
                Admin Name
            </h6>
        </div>
        <div class="sidebar_menu">
            <ul class="sidebar_menu_list ">
                <li class="menu_item {{activeItem this 'dasboard'}}">
                    <i class="fas fa-chart-bar"></i>
                    <a class="dropdown-item" href="/admin/dasboard">Biểu đồ</a>
                </li>
                <li class="menu_item {{activeItem this 'manga'}}" >
                    <i class="fas fa-book"></i>
                    <a class="dropdown-item" href="/admin">Truyện</a>
                </li>
                <li class="menu_item {{activeItem this 'category'}}">
                    <i class="fas fa-book"></i>
                    <a class="dropdown-item" href="/admin/category">Thể loại</a>
                </li>
                <li class="menu_item {{activeItem this 'account'}}">
                    <i class="far fa-user-circle"></i>
                    <a class="dropdown-item" href="admin/account">Tài khoản</a>
                </li>
            </ul>
        </div>
    </nav>
</div>