<section class="breadcrumb_section">
    <div class="container">
        <div class="manga-breadcrumb my-5 shadow-lg rounded-3">
            <div class="row px-4 g-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Categories</a></li>
                        <li class="breadcrumb-item"><a href="#">Action</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lorem ipsum dolor: Lorem ipsum adipisic</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>