<div class="modal fade" id="followManga" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">Thêm vào bộ sưu tập</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Bạn cần đăng nhập để thực hiện hành động này
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                    <button id="toLogin" type="button" class="btn btn-login">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>