<div class="manga_review shadow-lg rounded p-4 mb-4">
    <div class="section-title m-3">
        <h5>Reviews</h5>
    </div>
    <div class="row p-3">
        {{#each comments}}
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src={{byUser.avatar}}></div>
            <div class="comment p-4">
                <h6><strong>{{byUser.name}}</strong><span> - {{moment createdAt lang="vi" fromNow=null}}</span></h6>
                <p>{{content}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="review-paginate"></div>
    <div class="manga_comment">
        <div class="section-title">
            <h5>Bình luận của bạn</h5>
        </div>
        <form>
            <textarea class="form-control mb-3" placeholder="Your Comment"></textarea>
            <button type="submit" class="btn btn-dark"><i class="fas fa-paper-plane"></i> Comment</button>
        </form>
    </div>
</div>