<div class="manga_review shadow-lg rounded p-5">
    <div class="section-title">
        <h5>Reviews</h5>
    </div>
    <div class="row p-3">
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src='img/avatar_1.png' /></div>
            <div class="comment p-4">
                <h6><strong>Lorem ipsum</strong><span> - 1 giờ trước</span></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia exercitationem voluptatibus numquam
                    commodi perferendis dolorum reiciendis iste, unde ad odio.</p>
            </div>
        </div>
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src='img/avatar_2.png' /></div>
            <div class="comment p-4">
                <h6><strong>Lorem ipsum</strong><span> - 1 giờ trước</span></h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src='img/avatar_3.png' /></div>
            <div class="comment p-4">
                <h6><strong>Lorem ipsum</strong><span> - 1 giờ trước</span></h6>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src='img/avatar_4.png' /></div>
            <div class="comment p-4">
                <h6><strong>Lorem ipsum</strong><span> - 1 giờ trước</span></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore fugiat incidunt praesentium.</p>
            </div>
        </div>
        <div class="review-item mb-3">
            <div class="avatar me-4"><img src='img/avatar_5.png' /></div>
            <div class="comment p-4">
                <h6><strong>Lorem ipsum</strong><span> - 1 giờ trước</span></h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia exercitationem voluptatibus numquam
                    commodi perferendis dolorum reiciendis iste, unde ad odio.</p>
            </div>
        </div>
    </div>
    <div class="review-paginate"></div>
    <div class="manga_comment mb-4">
        <div class="section-title">
            <h5>Bình luận của bạn</h5>
        </div>
        <form>
            <textarea class="form-control mb-3" placeholder="Your Comment"></textarea>
            <button type="submit" class="btn btn-danger"><i class="fas fa-paper-plane"></i> Comment</button>
        </form>
    </div>
</div>