<!--Breadcrumb-->

<!--Anime section-->
<section>
  <div class="container">
    <div class="manga_details_content">
      <div class="row">
        <div class="col-3">
          <img src="img/cover.png" class="img-fluid" />
        </div>
        <div class="col-9">
          <div class="anime_details_title">
            <h3>Lorem ipsum dolor: Lorem ipsum dolor sit</h3>
            <span>リベンジャーズ, Feito／sutei naito</span>
          </div>
          <div class="anime_details_rating">
            <div class="rating">
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star"></i></a>
              <a href="#"><i class="fas fa-star-half-alt"></i></a>
              <a href="#"><i class="far fa-star"></i></a>
            </div>
						<span>6.969 Bình chọn</span>
          </div>
					<div class="anime_details_description">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque esse excepturi explicabo dolore quo corrupti similique itaque tempora, molestiae deserunt veniam iure fugit voluptatibus provident vitae quibusdam in tempore pariatur!</p>
					</div>
					<div class="anime_details_widget">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<ul>
									<li><span>Tác giả: </span>Lorem ipsum</li>
									<li><span>Ngày phát hành: </span>30-2-2077</li>
									<li><span>Tình trạng: </span>Đang tiến hành</li>
                  <li><span>Dịch giả: </span>Dolor sit amet</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6">
								<ul>
									<li><span>Số chương: </span>20/25</li>
                  <li><span>Cập nhật lần cuối: </span>2 ngày trước</li>
									<li><span>Đang theo dõi: </span>4,242</li>
									<li><span>Lượt xem: </span>1,234,567</li>
								</ul>
							</div>
						</div>
            <div class="categories">
              <ul class="list-inline">
                <li class="list-inline-item"><a href="categories/action" class="badge badge-primary">Action</a></li>
                <li class="list-inline-item"><a href="categories/Adventure" class="badge badge-primary">Adventure</a></li>
                <li class="list-inline-item"><a href="categories/Mystery" class="badge badge-primary">Mystery</a></li>
                <li class="list-inline-item"><a href="categories/Supernatural" class="badge badge-primary">Supernatural</a></li>
              </ul>              
            </div>
					</div>
          <div class="anime_details_btn">
            <a class="btn btn-primary" href="#" role="button"><i class="far fa-bookmark"></i> Follow</a>
            <a class="btn btn-primary" href="#" role="button">Tiếp tục đọc</a>
            <a class="btn btn-primary" href="#" role="button">Chương đầu tiên</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="anime_review"></div>
        <div class="anime_comment">
          <h5>Your comment</h5>
          <form class="">
            <textarea class="form-control" placeholder="Your Comment"></textarea>
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i>  Review</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
      </div>
    </div>
  </div>
</section>