<div id="login">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Đăng ký</h3>
					{{>messages }}	
				</div>
				<div class="card-body">
					<form method="post">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="email"  id="email" name="email" class="form-control" placeholder="email@abc">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" id="account" name="account" class="form-control" placeholder="Username">
							
						</div>
                        <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" id="password" name="password" class="form-control" placeholder="Password">
						</div>
						    <div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" id="password2" name="password2" class="form-control" placeholder="Re-enter Password">
						</div>
						<div class="form-group">
							<input type="submit" value="Register" class="btn float-right login_btn">
						</div>
					</form>
					<div class="card-footer">
						<div class="d-flex justify-content-center links">
							Have an account?<a href="/login">Log In</a>
						</div>
                    </div>
                </div>
				</div>
			</div>
		</div>
	</div>
</div>